body{
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}

.darkMode {
    background-color: #212529;
    color: aliceblue;
}

.lightMode{
    background-color: white;
    color: black;
}